extends layout

block content
  div.container-fluid
    table.table
      caption
        h2= title
      thead
        tr
          th ID
          th 用户名
          th 状态
          th 提交时间
      tbody
        - each line in list
          tr 
            th 
              span.label.label-default #{line.id}
            th 
              span.label.label-primary #{line.user}
            case (line.code)
              when 0 
                th
                  span.label.label-success #{line.status}
              when 1 
                th
                  span.label.label-warning #{line.status}
              when 2 
                th
                  span.label.label-default #{line.status}
              when 100 
                th
                  span.label.label-danger #{line.status}
            th
              span.label.label-info #{line.time}

            